{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}


<div class="container">
    <h1>Activités</h1>

    {{dump(activités)}}
    <ul>
        <li>Your controller at <code><a href="{{ '/home/joshmfr/workspace/WildComfortStudio/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/joshmfr/workspace/WildComfortStudio/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}