{% extends 'base.html.twig' %}

{% block title %}Coach{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 class="pagetitle mt-5">Coach</h1>

   
    <ul>
        <li>Your controller at <code><a href="{{ '/home/joshmfr/workspace/WildComfortStudio/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/joshmfr/workspace/WildComfortStudio/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}