{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container mt-5 pt-5">


    <div class="about container-fluid">
			<h2>{{about.title}}</h2>
			<p><h6>{{about.subtitle}}</h6></p>
			<div class="row container-fluid mt-3">
				<div class="col-4">
					<img src="https://zupimages.net/up/21/29/sgii.jpg" class="img-fluid mx-2" alt="...">
				</div>
				<div class="col-4">
					<img src="https://zupimages.net/up/21/29/dc7c.jpg" class="img-fluid mx-2" alt="...">
				</div>
				<div class="col-4">
					<img src="https://zupimages.net/up/21/29/my0w.jpg" class="img-fluid mx-2" alt="...">
				</div>
			</div>
		</div>
    <ul>
        <li>Votre Salle est ouverte de {{about.timetable}}</li>
        <li>Your template at <code><a href="{{ '/home/joshmfr/workspace/WildComfortStudio/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
